## Operators

In [26]:
# Comparison Operator
# == 
# !=
# >= 
# <=
10!=10

False

In [27]:
# logic Operator
# not -> and -> or
False or not True and True

False

In [28]:
# Identity Operator
# == -> value equality
# is -> same object in memory
x = 5
y = 5
x == 5 and y is x

True

In [29]:
# for None, True, Flase, use "is"
x=None
x is None

True

## Condition

In [2]:
x=1
if x>3:
    print("true")
else:
    print("false")

false

## Loop

In [16]:
numbers = [1, 13, 4, 5, 63, 100]
numbers

[1, 13, 4, 5, 63, 100]

In [17]:
new_numbers = []

for n in numbers:
    new_numbers.append(n * 2)

print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [18]:
for i in range(2):
    for j in range(5):
        print(i + j, end = " ")

0 1 2 3 4 1 2 3 4 5

In [19]:
new_number = [i+j for i in range(2) for j in range(5)]
new_number

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [21]:
new_number = [[i+j for i in range(2)] for j in range(5)]
new_number

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [22]:
[num ** 3 for num in range(1, 11) if num % 2 != 0 ]

[1, 27, 125, 343, 729]

In [23]:
for i in range(1, 11):
    if i % 2 != 0:
        print(i ** 3, end = " ")

1 27 125 343 729

In [24]:
[num ** 3 if num % 2 != 0 for num in range(1, 11)]

SyntaxError: expected 'else' after 'if' expression (3287091736.py, line 1)

In [25]:
[num ** 3 if num % 2 != 0 else "even" for num in range(1, 11)]

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729, 'even']

## Function

In [7]:
x=1
def my_func(number):
    if number>3:
        return "true"
    else:
        return "false"
print(my_func(x))

false

## Lambda Function

In [8]:
def power_func(x):
    return x ** 2

In [9]:
power_func(3)

9

In [10]:
lambda x: x ** 2

In [11]:
my_lambda = lambda x: x ** 2
my_lambda(3)

9

In [12]:
(lambda x: x ** 2)(3)

9

In [13]:
sum_xy = lambda x, y: x + y(x)
sum_xy(2,3)

TypeError: 'int' object is not callable

In [14]:
sum_xy(2, lambda x: x * 5)

12

## Build-in Function

### Zip

In [5]:
a = (5, 7, 12)
b = (0, -1, 34)

x = zip(a, b)
list(x)

[(5, 0), (7, -1), (12, 34)]

### Map

In [10]:
def myfunc(a):
  return len(a)

x = map(myfunc, ['apple', 'banana', 'cherry'])

list(x)

[5, 6, 6]

In [11]:
def myfunc(a, b):
  return a + b

x = map(myfunc, ['apple', 'banana', 'cherry'], ['orange', 'lemon', 'pineapple'])

list(x)

['appleorange', 'bananalemon', 'cherrypineapple']

In [12]:
x = map(lambda a, b: a + b,
        ['apple', 'banana', 'cherry'],
        ['orange', 'lemon', 'pineapple'])

list(x)

['appleorange', 'bananalemon', 'cherrypineapple']

### Filter

In [14]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)
list(adults)

[18, 24, 32]

In [15]:
ages = [5, 12, 17, 18, 24, 32]

adults = filter(lambda x: x >= 18, ages)

list(adults)

[18, 24, 32]

## Questions

In [1]:
# Create a list of tuples (x, y) where x is from 1 to 3, y is from 1 to 2. Output: [(1, 1), (1, 2), (2, 1), (2, 2), (3, 1), (3, 2)]
[(x, y) for x in range(1, 4) for y in range(1, 3)]

[(1, 1), (1, 2), (2, 1), (2, 2), (3, 1), (3, 2)]

In [3]:
# Given nums = [1, -2, 3, -4, 5], create a list of absolute values only for negative numbers.
nums=[1, -2, 3, -4, 5]
[abs(num) for num in nums if num < 0]

[2, 4]

In [4]:
# use lambda, filter, map to rewrite
negatives = filter(lambda x: x < 0, nums)
result = list(map(lambda x: abs(x), negatives))
result

[2, 4]